<ion-content color="none">
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-card color="dark" class="custom-card">
                    <ion-card-header>
                        <ion-card-title>PRICES (USD)</ion-card-title>
                    </ion-card-header>
                    <ion-card-content class="ion-no-padding">
                        <ion-list lines="none">
                            <ion-item>
                                <ion-avatar>
                                    <img src="assets/images/sienna.png" class="coin-logo">
                                </ion-avatar>
                              <ion-label class="price-label">
                                  <h1 *ngIf="!dashboardService.loading">{{dashboard?.prices.sienna}} USD</h1>
                                    <ion-skeleton-text *ngIf="dashboardService.loading" animated style="width: 100%"></ion-skeleton-text>
                              </ion-label>
                            </ion-item>

                            <ion-item>
                                <ion-avatar>
                                    <img src="assets/images/scrt.png" class="coin-logo">
                                </ion-avatar>
                              <ion-label class="price-label">
                                  <h1 *ngIf="!dashboardService.loading">{{dashboard?.prices.scrt}} USD</h1>
                                  <ion-skeleton-text *ngIf="dashboardService.loading" animated style="width: 100%"></ion-skeleton-text>
                              </ion-label>
                            </ion-item>
                          </ion-list>
                    </ion-card-content>
                </ion-card>
            </ion-col>

            <ion-col size="12">
                <ion-card color="dark" class="custom-card">
                    <ion-card-header>
                        <ion-card-title>BALANCE (USD)</ion-card-title>
                    </ion-card-header>
                    <ion-card-content class="ion-no-padding">
                        <ion-list lines="none">
                            <ion-item>
                                <ion-avatar>
                                    <img src="assets/images/sienna.png" class="coin-logo">
                                </ion-avatar>
                              <ion-label class="price-label">
                                  <h1 *ngIf="!dashboardService.loading">{{dashboard?.assets.sienna | number : '1.2-2'}} USD <small>({{dashboard?.balances.sienna.balance + dashboard?.balances.sienna.staked | number : '1.2-2'}} SIENNA)</small></h1>
                                  <ion-skeleton-text *ngIf="dashboardService.loading" animated style="width: 100%"></ion-skeleton-text>
                              </ion-label>
                            </ion-item>

                            <ion-item>
                                <ion-avatar>
                                    <img src="assets/images/scrt.png" class="coin-logo">
                                </ion-avatar>
                              <ion-label class="price-label">
                                  <h1 *ngIf="!dashboardService.loading">{{dashboard?.assets.scrt | number : '1.2-2'}} USD <small>({{dashboard?.balances.scrt | number : '1.2-2'}} SCRT)</small></h1>
                                  <ion-skeleton-text *ngIf="dashboardService.loading" animated style="width: 100%"></ion-skeleton-text>
                              </ion-label>
                            </ion-item>
                          </ion-list>
                    </ion-card-content>
                </ion-card>
            </ion-col>

            <ion-col size="12">
                <ion-card color="dark" class="custom-card">
                    <ion-card-header>
                        <ion-card-title>REWARDS (SIENNA)</ion-card-title>
                    </ion-card-header>
                    <ion-card-content class="ion-no-padding">
                        <ion-list lines="none">
                            <ion-item>
                                <ion-avatar>
                                    <ion-icon name="cash-outline" size="large"></ion-icon>
                                </ion-avatar>
                              <ion-label class="price-label">
                                  <h1 *ngIf="!dashboardService.loading">{{dashboard?.balances.sienna.total_rewards | number : '1.2-2'}} SIENNA <small>(total rewards)</small></h1>
                                  <ion-skeleton-text *ngIf="dashboardService.loading" animated style="width: 100%"></ion-skeleton-text>
                              </ion-label>
                            </ion-item>

                            <ion-item>
                                <ion-avatar>
                                    <ion-icon name="hourglass-outline" size="large"></ion-icon>
                                </ion-avatar>
                              <ion-label class="price-label">
                                  <h1 *ngIf="!dashboardService.loading">{{dashboard?.balances.sienna.next_claim | number : '1.2-2'}} SIENNA <small>(next claim)</small></h1>
                                  <ion-skeleton-text *ngIf="dashboardService.loading" animated style="width: 100%"></ion-skeleton-text>
                              </ion-label>
                            </ion-item>
                          </ion-list>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>