ion-content {
  --background: rgb(2,0,36);
  --background: linear-gradient(120deg, rgb(0, 0, 0) 15%, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 85%);
}

ion-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }

.logo {
    max-width:400px;
    width:100%;
}
