<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title color="light" class="ion-text-center">
            <a [routerLink]="'/secret'">
                <img class="logo" src="assets/images/secret-logo-small.png" alt="Secret Dashboard" />
            </a>
        </ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="signOut()" color="light">
                <ion-icon name="log-out-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-router-outlet [swipeGesture]="true" id="secret"></ion-router-outlet>
</ion-content>

<ion-menu side="start" menuId="first" contentId="secret">
    <ion-content color="dark">
        <ion-list *ngFor="let pages of navigationList" lines="none">
            <ion-menu-toggle auto-hide="true">
                <ion-item (click)="goToPage(pages.url)" routerDirection="forward" color="dark">
                    <ion-icon [name]="pages.icon" slot="start" color="light"></ion-icon>
                    <ion-text color="light">{{pages.title}}</ion-text>
                </ion-item>
            </ion-menu-toggle>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-tabs>
    <ion-tab-bar slot="bottom" color="dark">
      <ion-tab-button *ngFor="let page of navigationList" tab="{{page.tab}}">
        <ion-icon name="{{page.icon}}"></ion-icon>
        <ion-label>{{page.title}}</ion-label>
      </ion-tab-button>
  
     

    </ion-tab-bar>
  </ion-tabs>