:host {
    ion-header {
        border-bottom: 1px solid var(--ion-color-dark);

        .logo {
            display: inline-block;
            max-width: 160px;
            padding-top: 5px;
            margin: 5px;
            filter: brightness(0) invert(1);
        }

        ion-icon {
            font-size: 25px;
        }
    }
    ion-item {
        --background: transparent !important;
        margin: 0px !important;
    }

    ion-list {
        background: var(--ion-color-dark);

        ion-item {
            cursor: pointer;
        }
    }
}
