<ion-content color="none">
    <ion-grid>
        <ion-row>
            <ion-col size-sm="12">
                <ion-card color="dark">
                    <ion-card-header>

                        <ion-card-title>PRICE (USD)</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        <div class="chart-container">
                            <ngx-charts-line-chart [scheme]="colorScheme" [legend]="legend" [legendTitle]="legendTitle"
                                [legendPosition]="legendPosition" [showXAxisLabel]="showXAxisLabel"
                                [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis"
                                [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="timeline"
                                [results]="data$ | async" [showGridLines]="showGridLines" [autoScale]="autoScale">

                                <ng-template #tooltipTemplate let-model="model">
                                    <div class="cutom-tooltip">
                                        <span> {{ model.value }} USD </span><br />
                                        <small>{{model.name}}</small>
                                    </div>
                                </ng-template>

                                <ng-template #seriesTooltipTemplate let-model="model">
                                    <div class="cutom-tooltip">
                                        <ul>
                                            <li *ngFor="let m of model" style="list-style: none">
                                                <span>{{ m.value }} USD </span><br />
                                                <small>{{m.name}}</small>
                                            </li>
                                        </ul>
                                    </div>
                                </ng-template>

                            </ngx-charts-line-chart>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>

        </ion-row>
    </ion-grid>
</ion-content>