/** Ionic CSS Variables **/

:root {
    --ion-color-primary: #0d2d57;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #0C202F;
    --ion-color-primary-tint: #6689A4;
    /** secondary **/
    --ion-color-secondary: #33b99e;
    --ion-color-secondary-rgb: 12, 209, 232;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #0C3322;
    --ion-color-secondary-tint: #75A691;
    /** tertiary **/
    --ion-color-tertiary: #0d2d57;
    --ion-color-tertiary-rgb: 112, 68, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #633ce0;
    --ion-color-tertiary-tint: #7e57ff;
    /** success **/
    --ion-color-success: #000000;
    --ion-color-success-rgb: 16, 220, 96;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #0e98c2;
    --ion-color-success-tint: #28cae0;
    /** warning **/
    --ion-color-warning: #FFFE6D;
    --ion-color-warning-rgb: 255, 206, 0;
    --ion-color-warning-contrast: #000;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #A6A524;
    --ion-color-warning-tint: #FFFEAF;
    /** danger **/
    --ion-color-danger: #fd1e00;
    --ion-color-danger-rgb: 245, 61, 61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #a65424;
    --ion-color-danger-tint: #fabb96;
    /** dark **/
    --ion-color-dark: #000000;
    --ion-color-dark-rgb: 34, 34, 34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #000000;
    --ion-color-dark-tint: #000000;
    /** medium **/
    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;
    /** light **/
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
    --ion-color-favorite: #3CCB45;
    --ion-color-favorite-rgb: 56, 128, 255;
    --ion-color-favorite-contrast: #ffffff;
    --ion-color-favorite-contrast-rgb: 255, 255, 255;
    --ion-color-favorite-shade: #47AC4D;
    --ion-color-favorite-tint: #4DE450;
}

ion-content {
    --background: rgb(2,0,36);
    --background: linear-gradient(180deg, rgb(0, 0, 0) 20%, rgb(0, 47, 78) 50%, rgb(0, 0, 0) 80%);
}


ion-button {
    --border-radius: 0px;
}