<ion-content color="none">
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-card color="dark" class="custom-card">
                    <ion-card-header>
                        <ion-card-title>REWARDS INFO</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-list>

                            <ion-item>
                                <ion-avatar>
                                    <img src="assets/images/sienna.png" class="coin-logo">
                                </ion-avatar>
                                <ion-label class="price-label">
                                    <h1 *ngIf="!(loading$ | async)"> {{rewards?.user_claimable}} <small>claimable</small></h1>
                                    <ion-skeleton-text *ngIf="(loading$ | async)" animated style="width: 100%">
                                    </ion-skeleton-text>
                                </ion-label>
                            </ion-item>

                            <ion-item>
                                <ion-avatar>
                                    <img src="assets/images/sienna.png" class="coin-logo">
                                </ion-avatar>
                                <ion-label class="price-label">
                                    <h1 *ngIf="!(loading$ | async)"> {{rewards?.user_earned}} <small>earned</small></h1>
                                    <ion-skeleton-text *ngIf="(loading$ | async)" animated style="width: 100%">
                                    </ion-skeleton-text>
                                </ion-label>
                            </ion-item>


                            <ion-item>
                                <ion-avatar>
                                    <img src="assets/images/sienna.png" class="coin-logo">
                                </ion-avatar>
                                <ion-label class="price-label">
                                    <h1 *ngIf="!(loading$ | async)"> {{rewards?.user_locked}} <small>staked</small></h1>
                                    <ion-skeleton-text *ngIf="(loading$ | async)" animated style="width: 100%">
                                    </ion-skeleton-text>
                                </ion-label>
                            </ion-item>

                            <ion-item>
                                <ion-avatar>
                                    <ion-icon name="analytics-outline" size="large"></ion-icon>
                                </ion-avatar>
                                <ion-label class="price-label">
                                    <h1 *ngIf="!(loading$ | async)"> {{rewards?.user_share}} <small>% lifetime pool
                                            share</small></h1>
                                    <ion-skeleton-text *ngIf="(loading$ | async)" animated style="width: 100%">
                                    </ion-skeleton-text>
                                </ion-label>
                            </ion-item>

                            <ion-item>
                                <ion-avatar>
                                    <ion-icon name="timer-outline" size="large"></ion-icon>
                                </ion-avatar>
                                <ion-label class="price-label">
                                    <h1 *ngIf="!(loading$ | async)"> {{rewards?.user_cooldown}} <small>cooldown</small>
                                    </h1>
                                    <ion-skeleton-text *ngIf="(loading$ | async)" animated style="width: 100%">
                                    </ion-skeleton-text>
                                </ion-label>
                            </ion-item>

                        </ion-list>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>