/* You can add global styles to this file, and also import other style files */

ion-button {
    margin: 10px 0px !important;
    border-radius: 0px !important;
}

.button-native {
    border-radius: 0px!important;
}

.ngx-charts {
    text {
      fill: rgb(255, 255, 255);
    }
}